.delivery {
  min-height: 443px;
  padding: 26.5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &-title {
    font-size: 28px;
    text-align: center;
  }

  &-list {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-item {
      padding: 14px;
      width: 350px;
      margin: 0 -32px;
      transition: 0.5s;
      filter: blur(1.5px);
      border-radius: 10px;
      backdrop-filter: blur(10px);
      transform: rotate(calc(2 * 1deg));
      border: 1px solid rgba(255, 255, 255, 0.1);
      box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);

      &-title {
        font-size: 20px;
        text-align: center;
      }

      &-txt {
        margin-top: 20px;
        text-align: justify;
      }
    }

    &:hover > &-item {
      margin: 0 30px;
      filter: blur(0.5px);
      transform: rotate(0deg);
    }
  }

  @media only screen and (max-width: 1110px) {
    padding: 24px 14px;

    &-list {
      &-item {
        width: 49%;

        &-txt {
          font-size: 12px;
          text-align: center;
        }
      }

      &:hover > &-item {
        margin: 0;
      }

      &:hover {
        & :not(:first-child) {
          margin-left: 20px;
        }
      }
    }
  }

  @media only screen and (max-width: 500px) {
    &-list {
      flex-direction: column;

      &-item {
        width: 100%;
        margin-top: 20px;
      }

      &:hover > &-item {
        margin-top: 20px;
        margin-left: 0;
      }
    }
  }
}
