@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slider-item {
  width: 100%;
  height: calc(100vh - 100px);
  &-image {
    width: 100%;
    height: calc(100vh - 100px);
  }
}

.slick-slider {
  width: 100%;
  height: calc(100vh - 100px);
}

.slick-track {
  width: 100%;
}

.slick-arrow {
  display: none;
}

.slick-dots {
  bottom: 5px;
}
