.filter {
  width: 100%;
  &-inner {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    position: relative;
    padding: 0 15px;
    &-select {
      display: flex;
      align-items: center;
      width: max-content;
      color: var(--black);
      padding: 8px;
      cursor: pointer;
      border: 1px solid var(--grey);
      transition: 0.25s;
      position: relative;
      &:hover {
        box-shadow: 6px 6px 10px black;
      }
      > svg {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
      > span {
        font-size: 16px;
        font-weight: bold;
      }
    }
    &-options {
      background-color: var(--white);
      padding: 22px 28px;
      padding-bottom: 16px;
      max-width: max-content;
      border: 3px solid var(--grey);
      border-radius: 5px;
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      position: absolute;
      top: 40px;
      left: 0;
      z-index: 999;
      &-triangle {
        width: 36px;
        height: 36px;
        position: absolute;
        top: -16%;
        left: 100px;
      }
      &-gender {
        display: flex;
        gap: 16px;
        &-item {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border: 1px solid var(--black);
          padding: 6px 12px;
          border-radius: 16px;
          font-weight: 500;
        }
      }
      &-types {
        display: flex;
        gap: 16px;
        &-option {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border: 1px solid var(--black);
          padding: 6px 12px;
          border-radius: 16px;
          font-weight: 500;
        }
      }
      > button {
        background-color: var(--white);
        color: var(--black);
        border: 2px solid var(--grey);
        border-radius: 7px;
        width: 40%;
        padding: 6px 12px;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        align-self: flex-end;
        transition: background 0.3s linear;
        &:hover {
          background-color: var(--grey);
        }
      }
    }
    &-beltOptions {
      background-color: var(--white);
      padding: 22px 28px;
      padding-bottom: 16px;
      max-width: max-content;
      border: 3px solid var(--grey);
      border-radius: 5px;
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      position: absolute;
      top: 40px;
      left: 0;
      z-index: 999;
      &-belts {
        display: flex;
        gap: 16px;
        &-item {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border: 1px solid var(--black);
          padding: 6px 12px;
          border-radius: 16px;
          font-weight: 500;
        }
      }
      &-beltTriangle {
        width: 36px;
        height: 36px;
        position: absolute;
        top: -20%;
        left: 100px;
      }
      > button {
        background-color: var(--white);
        color: var(--black);
        border: 2px solid var(--grey);
        border-radius: 7px;
        width: 40%;
        padding: 6px 12px;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        align-self: flex-end;
        transition: background 0.3s linear;
        &:hover {
          background-color: var(--grey);
        }
      }
    }
    &-rangeSlider {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &-value {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        width: 100px;
        height: 100%;
      }
    }

    &-selection {
      position: relative;
      width: 32%;
      gap: 2px;
      &-select {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        padding: 10px;
        > div {
          font-size: 18px;
          font-weight: 400;
        }
      }
      &-options {
        width: 100%;
        height: auto;
        background-color: var(--white);
        position: absolute;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        transition: all 0.3s linear;
        &-option {
          background-color: var(--white);
          width: 100%;
          font-size: 15px;
          padding: 7px 3px;
          border: 1px solid var(--grey);
          text-align: center;
          cursor: pointer;
          transition: background 0.2s linear;
          &:hover {
            background-color: var(--grey);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 881px) {
  .filter {
    &-inner {
      margin-top: 20px;
      flex-direction: column;
    }
  }
}

@media (max-width: 790px) {
  .filter {
    &-inner {
      flex-direction: column;
      padding: 25px 0px;
      &-options {
        left: -36px;
        &-triangle {
          left: 40%;
        }
      }
      &-beltOptions {
        left: -60%;
        &-beltTriangle {
          left: 203px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .filter {
    &-inner {
      &-beltOptions {
        // width: 600px;
        left: -20%;
        &-beltTriangle {
          top: -19%;
        }
      }
      &-options {
        width: 600px;
        left: -36px;
        &-triangle {
          left: 40%;
          top: -15%;
        }
        &-types {
          flex-wrap: wrap;
        }
      }
      &-selection {
        width: 100%;
        &-options {
          &-option {
            width: 265px;
          }
        }
        &-select {
          width: 100%;
          padding: 0;
        }
      }
    }
  }
}

@media (max-width: 470px) {
  .filter {
    &-inner {
      &-beltOptions {
        width: 450px;
        left: -30%;
        &-beltTriangle {
          top: -22%;
        }
        &-belts {
          &-item {
            font-size: 12px;
            padding: 4px 8px;
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .filter {
    height: 180px;
    &-inner {
      height: 170px;
      flex-direction: column;
      gap: 15px;
      padding: 20px 5px;
      &-options {
        width: 361px;
        top: 100%;
        left: -20%;
        &-triangle {
          left: 40%;
        }
      }
      &-rangeSlider {
        width: 90%;
      }

      &-selection {
        width: 100%;
        &-select {
          gap: 3px;
          &-icn {
            width: 18px;
            height: 18px;
          }
        }
        &-options {
          width: 200px;
          left: 75px;
        }
      }
    }
  }
}
