.header-inner {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    &-link {
      font-size: 16px;
      text-decoration: none;
      color: var(--black);
      padding: 10px 15px;
      border-radius: 10px;
      transition: background 0.4s linear;
      &:hover {
        background-color: var(--grey);
        color: black;
      }
    }
  }

  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    &-img {
      width: 100%;
      height: 100%;
      fill: #fff;
    }
  }

  &-buy {
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-inner {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      &-icon {
        margin-right: 7px;
        &-icn {
          width: 30px;
          height: 30px;
          fill: var(--black);
        }
      }
      &-cartName {
        font-size: 17px;
        font-weight: 600;
        color: var(--black);
        padding-right: 10px;
        margin-right: 10px;
        border-right: 2px solid var(--black);
        transition: color 0.3s linear;
      }
      &-price {
        font-size: 16px;
        font-weight: 700;
        color: var(--black);
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }

  &-language {
    cursor: pointer;
    &-lang {
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 2px;
      color: var(--black);
      &-icon {
        width: 18px;
        height: 18px;
        margin-top: 2px;
      }
    }
  }
}
