.watches {
  border: solid red;

  &-list {
    border: solid;
    // margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px 10px;

    &-item {
      cursor: pointer;
      width: 300px;
      min-height: 460px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: 250ms;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;

      &:hover {
        box-shadow: 1px 1px 10px 1px #c59d5f;
      }

      &-image {
        height: 300px;
        background-size: cover;
        position: relative;
        color: white;
        text-transform: capitalize;

        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &-gender {
          width: 100%;
          padding-top: 10px;
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &-isAvailable {
          padding: 8px;
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }

      &-description {
        // min-height: 200px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-transform: capitalize;
        color: black;

        > p {
          margin-bottom: 10px;
        }

        &-buy {
          padding-top: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: solid 1px rgb(206, 206, 206);

          &-btn {
            border: 1px solid var(--black);
            outline: none;
            color: var(--black);
            padding: 8px 20px;
            cursor: pointer;
            background-color: var(--white);
            border-radius: 10px;
            transition: all 0.3s linear;
            &:hover {
              background-color: var(--grey);
            }
          }

          &-price {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2px;
            font-size: 18px;
            font-weight: 500;
            color: var(--black);
          }
        }
      }
    }

    @media only screen and (max-width: 690px) {
      gap: 0;
      padding: 4px;
      justify-content: space-between;

      &-item {
        width: 49%;
        margin-top: 10px;

        &-image {
          width: 100%;

          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    @media only screen and (max-width: 385px) {
      &-item {
        min-height: 200px;

        &-image {
          width: 100%;
          height: 200px;

          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &-description {
          &-buy {
            flex-direction: column;

            > p {
              margin-left: 10px;
            }

            &-btn {
              margin-top: 10px;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 280px) {
      &-item {
        &-description {
          > p {
            font-size: 10px;
          }
        }
      }
    }
  }
}
