.watches {
  border: solid red;
  &-filter {
    &-select {
      display: flex;
      align-items: center;
      width: max-content;
      padding: 8px;
      cursor: pointer;
      border: 1px solid;
      transition: 0.25s;
      &:hover {
        box-shadow: 6px 6px 10px black;
      }
      > svg {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
      > span {
        font-size: 16px;
        font-weight: bold;
      }
    }
    &-options {
      background-color: white;
      padding: 24px 32px;
      padding-bottom: 16px;
      max-width: max-content;
      border: solid;
      margin-top: 16px;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .traingle {
        width: 24px;
        height: 24px;
        background-color: black;
        transform: rotate(45deg);
        position: absolute;
        top: -13px;
        left: 10%;
        border: solid;
        z-index: -1;
      }
      &-gender {
        display: flex;
        gap: 16px;
        &-item {
          cursor: pointer;
          border: 2px solid;
          padding: 4px 10px;
          border-radius: 16px;
          font-weight: 500;
        }
      }
      &-types {
        display: flex;
        gap: 16px;
        &-option {
          cursor: pointer;
          border: 2px solid;
          padding: 4px 10px;
          border-radius: 16px;
          font-weight: 500;
        }
      }
      > button {
        background-color: black;
        color: white;
        border: none;
        width: max-content;
        padding: 6px 12px;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        align-self: flex-end;
      }
    }
  }

  &-list {
    border: solid;
    margin-top: 32px;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-item {
      cursor: pointer;
      width: 380px;
      min-height: 460px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: 250ms;
      border: 1px solid rgba(0, 0, 0, 0.2);

      &:hover {
        margin-top: 10px;
        box-shadow: 1px 1px 10px 1px #c59d5f;
      }

      &-image {
        height: 350px;
        position: relative;
        color: white;
        text-transform: capitalize;

        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &-gender {
          width: 100%;
          padding-top: 10px;
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &-isAvailable {
          padding: 8px;
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }

      &-description {
        // min-height: 200px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-transform: capitalize;
        color: black;

        > p {
          margin-bottom: 10px;
        }

        &-buy {
          padding-top: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: solid 1px rgb(206, 206, 206);

          &-btn {
            border: none;
            outline: none;
            color: #fff;
            padding: 8px 20px;
            cursor: pointer;
            background-color: #c59d5f;
          }

          &-price {
            font-size: 18px;
            color: #c59d5f;
          }
        }
      }
    }
  }
}
